*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Varela Round;
}

body{
    margin-inline: auto;
}

.header{        /* Cabeçalho */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 10px 100px;
    background: #1f232c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.8);

}

.logo{          /* Nome da marca (canto esquerdo) */
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{      /* Barra de navegação (menu) */
    position: relative;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{      /* Barra de navegação (transição do sublinhado) */
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #cfe1eb;
    transition: 0.3s;
}

/* Precisa do before e do hover para funcionar */

.navbar a:hover::before{      /* Barra de navegação (transição do sublinhado) */
    width: 100%;

}

.header .botao button{
    width: 120px;
    height: 50px;
    background-color: transparent;
    border-radius: 15px;
}

.header .botao .cadastrar{
    background-color: #eeeded;
    color: #000000;
    font-size: 110%;
}

.header .botao .entrar{
    background-color: #eeeded;
    color:#000000;
    font-size: 110%;
}

/* SEGUNDA PARTE - CONTEÚDO + DESCRIÇÃO ITEM */
.carrossel{      /* Fundo da página */
    height: 100vh;
}

.descricao .info-box-descricao{      /* Descrição do item + posição da info */
    position: absolute;
    left: 5%; /* 50% joga para direita (sobrando um palmo até a barra), 5% fica na esquerda */
    top: 50%;
    transform: translateY(-50%); /* translateY joga o texto para o canto direito */
    width: 450px;
    height: 280px;
    display: flex;
    align-items: center;
    z-index: 1;
    overflow: hidden;   /* Esconde os outros textos em baixo do primeiro */
}

.descricao.ativo .info-box-descricao{
    z-index: 2;
}

.info-box-descricao .info-slider{       /* VER O Q EH ISSO*/
    height: inherit;
    transition: 0.5s ease;
}

.info-slider .info-item{            /* Essa parte é o info-box todo o texto do item */
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 0, 0);
    transform: translateY(calc(var(--i) * 100%));
}

.info-item h2{      /* Título do item que se encontra dentro da DIV info-item */
    font-size: 40px;
    line-height: 1;     /* Mexe na distancia da quebra de linha */
}

.info-item p{       /* Dentro da DIV info-item, texto da descrição do produto */
    font-size: 16px;
    margin: 15px 0 20px;    /* 1º px é o espaçamento entre as linhas de cima, 2º deixa de dar um tab no texto, 3º espaçamento entre linhas de baixo */
}

.info-item .link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    background: #eeeded;
    border: 2px solid #fff;      /* Cria uma box para o href */
    border-radius: 40px; /* Formato  da borda, arredondado */
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1); /* Sombra ao redor da borda rgb(intensidade da cor, 0.1 transparencia da cor), o 10px é a intensidade da sombra, quanto menor mais concentrada ela é */
    font-size: 16px;
    color: #241e1e;    /* Cor da fonte do link */
    text-decoration: none;
    font-weight: 600;
}

/* IMG */
.descricao .img-box{
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
    width: 800px;
    height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.img-box .img-slider{
    width: inherit;
    height: inherit;
    transition: 0.5s ease;
}

.img-slider .img-descricao{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(calc(var(--i) * 100%));
}

.img-descricao img{
    pointer-events: none;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    transform: scale(0);
    transition: 0.5s ease;
}

.descricao.ativo .img-descricao img{
    transform: scale(1);
}

.minifoto{      /* Lista das mini fotos */
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
}

.minifoto li{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    /*border: 2px solid rgb(23, 252, 2); tirando isso, some a borda ao redor da foto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   /* No lugar colocamos sombra */
    cursor: pointer; /* Permite clicar sobre a img */
    margin: 20px 0; /* Espaçamento entre elas */
    overflow: hidden;   /* Faz o border-radius vir pra cima e enquadrar a foto */
}

.minifoto li.selecionado{
    border: 3px solid #fff;
}

.minifoto li img{       /* Para ajeitar e enquadrar as minifotos */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descricao .fundoicon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s;
}

.descricao.ativo .fundoicon{
    opacity: 1;
}

.descricao .fundoicon::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    filter: blur(200px);
}

.descricao:nth-child(1) .fundoicon{
    background: #80bbc0; 
}

.descricao:nth-child(2) .fundoicon{
    background: #fde18e;
}

.descricao:nth-child(3) .fundoicon{
    background: #dfc8dc;
}

.descricao:nth-child(4) .fundoicon{
    background: #97d4a9;
}

.descricao:nth-child(5) .fundoicon{
    background: rgb(197, 155, 92);
}

/* TERCEIRA PARTE - INFORMAÇÕES SOBRE */

.titulo1{
    padding: 5rem;
    text-align: center;
    font-size: 15px;
}

.titulo1 .gridtitulo {
    font-size: 35px;
    border-radius: 6px;
}

.slot img{
    max-width: 50%;
    display: block;

}

.instrucao{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin-top: 5rem;
}

.slot{
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;    /* Corrige na tela quando ela diminui */
}

.slot img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*  PARCERIA   */

.titulo{
    text-align: center;
    padding-bottom: 5rem;
}

.marcatitulo {
    font-size: 25px;
}

.marcas{
    /*width: 90%;
    max-width: 1536px;*/
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
        );
}

.marcas img {
    max-height: 100%;
    max-width: 100%;

    margin-top: 5%;
}

@keyframes animacaodireita{
    to {
        left: -200px;
    }
}


.parceria{
    width: 200px;
    height: 100px;
    background-color: #fbfffc;
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: animacaodireita;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1{
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2{
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3{
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4{
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5{
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6{
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7{
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8{
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}


footer{
    background: #1f232c;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.8);
    padding-top: 50px;
}

.final-pag{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer{
    width: 33.3%;
}

.final-pag h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: #fff;
}

.final-pag p{
    width: 100%;
    margin: auto;
    padding: 7px;
    color: #fff;
}

.footer-pag ul{
    text-align: center;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.bottom-bar{
    background: #cccccc;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: #000000;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}
