*
{
    margin: 0;
    padding: 0;
}

.container-fluid{
    width: 100%;
    height: 99vh; /*80px*/
    background: linear-gradient(to left, rgba(0,0,0,0.1)50%, rgba(0,0,0,0.1)50%), url(../view/img/animais-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{ /*head*/
    position: relative;
    background-color: rgb(97, 160, 196);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.container h2{
    font-family: Cambria;
    font-size: 35px;
    color: #fcfaf9;
    cursor: pointer;
    width: 25%;
}

.container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
}

.container ul li{
    font-family: arial;
    color: #fff;
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.container ul li:first-child{
    color: rgb(255, 255, 255);
}

.container ul li:hover{
    color: rgb(143, 209, 79);
}

.container .botao{
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: rgb(97, 160, 196); /* #dd94a7 */
    color: rgb(233, 211, 224);
    transition: 0.5s;
}

.container .botao:hover{
    background-color: rgb(255, 255, 255);
    color: #fff;
}

.content{
    width: 100%;
    height: 100vh;
    background-color: rgb(111, 223, 88);
    margin: auto;
    background-blend-mode: screen;

}

.content h1{
    font-family: arial;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
    padding-top: 100px;
}

.content p{
    font-family: Arial;
    font-weight: bold;
    font-size: #000;
    line-height: 30px;
    padding-top: 30px;
}

.content .botao{
    width: 120px;
    height: 25px;
    border-radius: 10px;
    font-size: 18px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #f6ff73;
    transition: 0.5s;
    margin-top: 30px;
}

.content .botao:hover{
    background-color: #fff;
    color: rgb(255, 6, 102);
}

ion-icon{
    font-size: 50px;
    color: rgb(63, 62, 62);
}
