<html>
    <head>
        <title></title>
        <script src="../script/cadastro.js"></script>    
        <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="../css/cadastro.css" media="screen" />
        <script src="../script/cadastro.js"></script>     
    </head>

    <body>
     

         <form>
            <label for="name">Nome completo</label>
            <input type="text" id="name" name="name" placeholder="Nome completo..">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email">

            <label for="password">password</label>
            <input type="password" id="password" name="password" placeholder="Email">

            <label for="cpf_cnpj">CPF / CNPJ:</label>
            <input type="text" name="cpf_cnpj"/>

            <label for="termos">Termos</label>
            <input type="checkbox" id="terms" name="terms"/>                    
            <input type="button" value="Submit" onclick="cadastroUsuario()">
                    
            <label for="birthday">Data de nascimento</label>
            <input type="date" id="birthday" name="birthday" placeholder="Data de nascimento">
         </form>

    </body>
</html>